*{
	box-sizing: border-box;
}
body{
	background-color: #f2f2f2;
}
.header{
	background-color: #333;
	width: 100%;
	float: left;
}
.banner{
	background-color: #555;
	width: 100%;
	float: left;
	margin: auto;
}
.mynavbar{
	margin-bottom: 0px;
	border-radius: 0;
}

.myhover ul li:hover{
	background: #3b123b;
}
/* .myhover ul login :hover a{
	    text-decoration: 
} */
.myhover ul li:hover ul{
	 display: block; 
	
}
.myhover ul li ul :hover a{
	background-color: #666657;
	
}
.myhover ul li{
	font-size: 15px;
}
.active{
	height: 100%;
}
.dropdown{
	height: 100%;
}
#menu-1{
	width: auto;
}
#menu-1 li{
	width: 100%;
}
.panel-body .list-film {
	list-style-type: none;
	padding-left: 0px;
}
.sale{
    position: absolute;
    right: 20px;
    top: 20px;
    background: #d80027;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    font-size: 12px;
    text-align: center;
    padding-top: 12px;
    color: #fff;
    margin-right: 10px	
}
.list-film-var a img {
	margin: 8px 0px 0px 4px;
	
}
.list-film-var{
	position: relative;
}
.film-item{
	color: #FFF;
	padding: 10px;
	/* background-image: linear-gradient(
		transparent,rgba(0,0,0,.1),rgba(0,0,0,.3),
		rgba(0,0,0,.5),rgba(0,0,0,.7),rgba(0,0,0,.9)); */
}
.thumbnail{
	box-shadow: 0 1px 4px rgba(101, 119, 130, 0.5);
    padding: 15px;
    margin-bottom: 20px;
    background: rgba(245, 245, 245, 0.48);

}
.panel-body{
	padding: 5px;
}
#panel-1{
	padding-left: 20px;	
}
#panel{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.main{
	width: 100%;
	/* padding: 0px; */
}
#panel  li{
	background: white;
}
.panel-body ul{
	list-style-type: none;
	padding-left: 0px;
}
.panel-body ul li {
	margin-top: 5px;
}
.panel-body ul li a{
	color: #111;
	font-weight: bold
}
.title-name{
	font-size: 15px;
	font-weight: bold;
}
.caption{
}
.content-left{
	float: left;
	width: 50%;
	color: #b2008d;
}
.content-right{
	width: 50%;
	overflow: hidden;
	text-align: right;
	float: right;
	color: #7d7d7d;
	text-decoration: line-through;
}
.caption-botton{
	overflow: hidden;
	padding: 4px 4px 0px 4px;
	font-size: 18px;
}
.main-full{

}
.body{
	background: #bab3b2
}
.myCol{
	padding-right: 5px;
	padding-left: 5px;
}
.myCol .img{
	height: 300px;
	overflow: hidden
}.myCol .caption h3 a{
	font-size: 12px
}
.footer-center{
	color: #fff
}
.social ul{
	list-style-type: none;
}
.box-footer ul{
	list-style-type: none;
	padding-left: 0px
}
.footer-copyright{
	padding: 0px;
	text-align: center
}
.footer-copyright p{
	margin-bottom: 0px;
	padding-bottom: 10px;
}
.item-botton{
	text-align: center;
}
.row-header{
	text-align: center;
	margin-top: 40px;
	padding: 10px;
	overflow: hidden;
}
.text-content{
	margin-top: 10px;
	margin-bottom: 10px
}
hr{
	border-top: 1px solid hsla(210, 50%, 60%, 1)
}
.hr-thumbnail{
	border-top: 1px solid #111;
}
#container a{
	font-size: 16px;
}
.form-group p{
	text-align: center;
}

	/* css modal form-login */ /* cop chỗ này vào css (chú thích vào) */
.modal-body-2{
	padding: 20px 40px;
}
 .modal-group{
	margin-bottom: 15px;
	overflow: hidden;
}

.login-1 a img{
	margin: 0px 15px;
}

.row{
	margin-top: 35px;
}

.nav .dropdown-menu{
	top: 55px;

}
.carousel-inner .item img{
	width: 100%;
}